@import '../../../styles/variables';
@import '../../../styles/mixin';

.joinus {
  width: 100%;
  background-color: $color-white;
  padding: 54px 55px 38px 42px;
  @include d-flex();
  .joinus-info {
    position: relative;
    top: -10px;
    @include d-flex(flex-start) {
      align-items: center;
      h2 {
        color: $color-main;
        font-family: $main-font-bold;
        font-size: 18px;
        text-align: center;
      }
      p {
        color: $color-dark;
        font-family: $main-font-italic;
        font-size: 14px;
        padding-left: 23px;
        text-align: center;
      }
    }
  }
  form {
    div {
      @include d-flex();
      align-items: bottom;
      img {
        margin: 20px 5px 0 0;
        height: 11px;
      }
      input {
        border: none;
        &:focus {
          outline: none;
        }
        &::placeholder {
          color: $color-dark;
          font-family: $main-font-italic;
          font-size: 14px;
          opacity: 0.5;
        }
      }
      input.error {
        border-bottom: 1px dotted $color-main;
      }
    }
    p {
      visibility: hidden;
      display: block;
      color: $color-dark;
      font-family: $main-font-italic;
      font-size: 10px;
      padding-top: 10px;
    }
    p.showerror {
      visibility: visible;
    }

    button {
      width: 100px;
      height: 50px;
      background-color: $color-main;
      border: none;
      color: $color-white;
      font-family: $main-font-bold;
      font-size: 14px;
      &:disabled {
        background-color: $color-dark;
        opacity: 0.2;
      }
      &:focus {
        outline: none;
      }
    }
    .mailfield {
      @include d-flex(center);
    }
  }
}

@media (min-width: 780px) and (max-width: 1024px) {
  .joinus {
    width: 90%;
    padding: 54px 10px 24px 0;
    .joinus-info {
      @include d-flex(flex-start, column);
    }
    form {
      width: 40%;
      input {
        font-size: 12px;
      }
    }
  }
}

@media (min-width: 425px) and (max-width: 779px) {
  .joinus {
    width: 90%;
    margin: 40px auto;
    padding: 54px 0 24px 0;
    .joinus-info {
      @include d-flex(flex-start, column);
      top: 10px;
    }
    div {
      h2 {
        padding-left: 20px;
      }
      p {
        text-align: center;
      }
    }
    form {
      div {
        @include d-flex(flex-start, column);
        img {
          margin-top: 0;
        }
      }
      button {
        margin-top: 10px;
        align-self: center;
      }
      p {
        text-align: center;
      }
    }
    .mailfield {
      @include d-flex();
    }
  }
}
@media (min-width: 320px) and (max-width: 424px) {
  .joinus {
    width: 90%;
    display: block;
    margin: 0 auto;
    padding: 54px 0 24px 0;
    .joinus-info {
      @include d-flex(flex-start, column);
      width: 100%;
      text-align: center;
    }
    form {
      div {
        @include d-flex(flex-start, column);
        width: 100%;
        text-align: center;
        margin: 20px auto;
        width: 60%;
        img {
          margin-top: 0;
        }
      }
      button {
        margin: 0 auto;
      }
      p {
        text-align: center;
      }
    }
  }
}
