@import '../../../styles/variables';
@import '../../../styles/mixin';

.adArea {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 670px;
  height: 100px;
  background-color: $color-white;
  color: $color-dark;
  margin: 0 auto;
  padding-top: 10px;
  margin-bottom: 30px;
  div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .item {
    display: block;
    width: 223px;
    margin: 0 40px;
    font-family: $main-font-bold;
  }
  .priceblock {
    padding-left: 20px;
  }
  .priceblock__price {
    width: 180px;
  }
}

@media (min-width: 780px) and (max-width: 1024px) {
  .adArea {
    height: 130px;
    padding-top: 20px;
    .item {
      width: 170px;
    }
    .priceblock__price {
      width: 100px;
      padding-right: 20px;
    }
  }
}

@media (min-width: 475px) and (max-width: 779px) {
  .adArea {
    height: 180px;
    width: 470px;
    div {
      flex-direction: column;
      justify-items: center;
      text-align: center;
      margin-bottom: 40px;
    }
    .banner {
      width: 470px;
    }
    .banner__image {
      margin-left: 0;
    }
    .priceblock {
      padding-left: 0;
      border: none;
    }
    .priceblock__cart {
      display: none;
    }
  }
}

@media (min-width: 320px) and (max-width: 474px) {
  .adArea {
    height: 180px;
    width: 320px;
    div {
      flex-direction: column;
      justify-items: center;
      text-align: center;
      margin-bottom: 40px;
    }
    .banner {
      width: 470px;
    }
    .banner__image {
      margin-left: 0;
    }
    .priceblock {
      padding-left: 0;
      border: none;
    }
    .priceblock__cart {
      display: none;
    }
  }
}
