@import '../../../styles/variables';
@import '../../../styles/mixin';

.adArea {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  min-height: 100px;
  background-color: $color-white;
  color: $color-dark;
  margin: 0 auto;
  padding-top: 10px;
  margin-bottom: 30px;

  div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .item {
    display: block;
    width: 223px;
    margin: 0 40px;
    font-family: $main-font-bold;
  }
  .priceblock {
    padding-left: 20px;
  }
  .priceblock__price {
    width: 180px;
  }
}

@media (min-width: $media-tablet) and (max-width: $media-medium) {
  .adArea {
    padding-top: 20px;
    .priceblock__price {
      width: 100px;
      padding-right: 20px;
    }
  }
}

@media (min-width: $media-smallest) and (max-width: $media-tablet) {
  .adArea {
    div {
      flex-direction: column;
      justify-items: center;
      text-align: center;
    }
    .banner__image {
      margin-left: 0;
    }
    .priceblock {
      padding-left: 0;
      border: none;
    }
    .priceblock__cart {
      display: none;
    }
  }
}
