{
  "extends": "airbnb",
  "env": {
    "browser": true,
    "jest": true,
    "node": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    "class-methods-use-this": ["off"],
    "comma-dangle": ["error", "never"],
    "jsx-a11y/anchor-is-valid": [
      "error",
      {
        "components": ["Link"],
        "specialLink": ["to"]
      }
    ],
    "no-plusplus": 0,
    "react/prop-types": 0,
    "jsx-a11y/anchor-has-content": 0,
    "no-console": 1,
    "arrow-parens": 0,
    "max-len": ["error", { "code": 120 }],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "operator-linebreak": 0,
    "function-paren-newline": 0,
    "implicit-arrow-linebreak": "off",
    "jsx-a11y/mouse-events-have-key-events": 0,
    "object-curly-newline": [
      "warn",
      {
        "minProperties": 4
      }
    ],
    "padding-line-between-statements": [
      "error",
      {
        "blankLine": "always",
        "prev": ["const", "let"],
        "next": "*"
      },
      {
        "blankLine": "any",
        "prev": ["const", "let"],
        "next": ["const", "let"]
      }
    ]
  }
}
