@import '../../../styles/variables';
@import '../../../styles/mixin';

.header {
  width: 100%;
  padding-bottom: 62px;
  background-color: $color-white;

  // &-top {
  //   padding: 10px;
  //   @include d-flex();
  //   justify-content: space-between;

  //   span {
  //     padding-left: 5px;
  //   }
  // }

  &-main {
    padding-top: 50px;
    @include d-flex();
  }

  &-links {
    margin-top: 10px;
    width: 100%;

    & > li {
      display: inline;
      padding: 0 15px;
    }
  }

  .icons-right i {
    padding: 0 10px;
  }

  .navbar {
    @include d-flex();
  }
}

img.logo {
  padding: 0 5px;
}

.fas.fa-bars {
  display: none;
}

@media screen and (max-width: 750px) {
  .fas.fa-bars {
    display: inline-block;
  }

  .nav-main {
    display: none;
  }

  .header-nav-right {
    width: 100%;
    text-align: right;
  }

  .header-links li {
    margin-top: 0;
    text-align: right;
  }
}
