@import '../../../styles/variables';
@import '../../../styles/mixin';

.advert {
  width: 60%;
  min-width: 450px;
  min-height: 100px;
  background-color: $color-white;
  color: $color-dark;
  margin: 0 auto;
  padding-top: 10px;
  margin-bottom: 80px;

  div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .item {
    display: block;
    width: 223px;
    margin: 0 40px;
    font-family: $main-font-bold;
  }
  .priceblock {
    padding-left: 20px;
    align-items: baseline;
  }
  .priceblock__cart {
    width: 28px;
    height: auto;
  }
  .priceblock__price {
    width: 180px;
  }
}

@media screen and (min-width: $media-tablet) and (max-width: $media-medium) {
  .advert {
    padding-top: 20px;
    .priceblock__price {
      width: 100px;
      padding-right: 20px;
    }
  }
}

@media screen and (min-width: $media-smallest) and (max-width: $media-tablet) {
  .advert {
    div {
      flex-direction: column;
      justify-items: center;
      text-align: center;
    }
    .banner__image {
      margin-left: 0;
    }
    .priceblock {
      padding-left: 0;
      border: none;
      align-self: center;
      position: relative;
      right: 23px;
    }
    .priceblock__cart {
      display: none;
    }
    .priceblock__price {
      position: relative;
      right: 23px;
    }
  }
}

@media screen and (max-width: $media-mobile) {
  .advert {
    min-width: 95%;
  }
}
