* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $main-font-regular;
}
