* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $main-font-regular;
}

a {
  color: inherit;
  text-decoration: none;
  transition: 0.3s ease;

  &:focus,
  &:hover {
    color: $color-main;
  }
}

.container {
  width: 100%;
  max-width: $container-width;
  margin: 0 auto;
  @media screen and(max-width: $media-large) {
    width: 95%;
  }
  @media screen and(max-width: $media-mobile) {
    width: 90%;
  }
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.main {
}

.slider__wrapper {
  width: 100%;
}
