@mixin d-flex($justify: space-between, $direction: row) {
  display: flex;
  justify-content: $justify;
  flex-direction: $direction;
  @content;
}

@mixin abs-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
