$main-font-bold: 'HarmoniaSansProCyr-bold';
$main-font-italic: 'HarmoniaSansProCyr-italic';
$main-font-regular: 'HarmoniaSansProCyr-regular';

$white-clr:#ffffff;
$orange-clr:#ff5912;
$grey-clr:#f4f6f8;

