$main-font-bold: 'HarmoniaSansProCyr-bold';
$main-font-italic: 'HarmoniaSansProCyr-italic';
$main-font-regular: 'HarmoniaSansProCyr-regular';

$color-main: #ff5912;
$color-white: #fff;
$color-light-1: #f4f6f8;
$color-dark: #34404b;
