@import '../../../styles/mixin';
@import '../../../styles/variables';

.img-container {
  @include d-flex();
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  background-color: $color-white;
  max-height: 400px;

  figure {
    position: relative;
    background-color: $color-white;

    img {
      display: block;
      max-width: 180px;
      pointer-events: none;
    }

    div {
      width: 200px;
      height: 250px;
      background-repeat: no-repeat;
      background-size: 150% 150%;
      opacity: 0;
      position: absolute;
      top: -60px;
      right: -150px;
      box-shadow: 2px 2px 5px $color-grey-1;
      background-color: white;
      &:hover {
        opacity: 0;
      }
    }

    &:hover div {
      opacity: 1;
    }
  }
}

.thumbnails-box {
  margin-top: 30px;
  @include d-flex();
  width: 210px;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }

  img {
    max-width: 70px;
    height: auto;
    &:focus {
      outline: none;
    }
  }
}
.active {
  position: relative;
  outline: none;

  &::before {
    z-index: 1;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba($color: $color-main, $alpha: 0.6);
  }
}

@media screen and (min-width: $media-smallest) and (max-width: $media-tablet) {
  .img-container {
    margin-top: 0;
    figure {
      div {
        display: none;
      }
    }
  }
}
