@import '../../../styles/variables';
@import '../../../styles/mixin';

a {
  &:not(div):hover {
    color: $color-main !important;
  }
}

.header {
  width: 100%;
  padding-bottom: 40px;
  background-color: $color-white;
  font-family: $main-font-regular;
  position: relative;

  &-top {
    padding: 10px;
    padding-top: 30px;
    @include d-flex();

    .far,
    .fab {
      color: $color-main;
      padding-right: 10px;
    }

    .fa-skype {
      padding-left: 10px;
    }

    .icons-right {
      margin-left: auto;

      ul {
        @include d-flex();
      }

      i {
        padding: 0 10px;
        color: inherit;
      }
    }

    span {
      padding-right: 5px;
    }
  }

  &-main {
    padding-top: 20px;
    @include d-flex();
  }

  &-links {
    margin-top: 10px;
    @include d-flex(space-around);
  }

  &-logo {
    img {
      padding: 0 5px;
      height: auto;
      width: 120px;
    }
  }

  &-nav-right {
    & > .header-links {
      justify-content: flex-end;
      li {
        padding: 0 20px;
      }
    }
  }
}

.nav-main {
  min-width: 60%;
}

.line-between {
  border-bottom: 1px solid $color-light-2;
}

.navbar {
  @include d-flex();
}

.menu {
  display: none;
}

@media screen and (max-width: $media-tablet) {
  .header {
    &-links > li {
      padding: 5px 10px;
    }

    &-top {
      @include d-flex() {
        flex-flow: column wrap;
        align-items: center;
      }

      .icons-right {
        margin: 0;
        font-size: 20px;
        padding: 5px 0;
      }

      i {
        padding-top: 5px;
      }
    }

    &-nav-right {
      text-align: right;
      width: 100%;
    }
  }

  .menu {
    display: inline-block;
    vertical-align: baseline;
    font-size: 18px;
    cursor: pointer;
    outline: none;
    border: none;
    background: none;
    margin-right: 10px;
    margin-top: -3px;
  }

  .nav-main {
    display: none;
  }

  .nav-toggle {
    display: flex;
    position: absolute;
    top: 90%;
    left: 0;
    right: 0;
    z-index: 3;

    .header-links {
      text-align: center;
      background-color: $color-light-1;
      padding: 10px;
      margin: 0;
      width: 100%;
      @include d-flex() {
        flex-flow: column nowrap;
      }
    }
  }
}

.cart {
  @include d-flex(unset, column);
  align-items: center;
  position: relative;

  .cart-quantity {
    position: absolute;
    bottom: 65%;
    color: $color-dark;
    font-size: 13px;
  }
}
