@import '../../../../styles/mixin';
@import '../../../../styles/variables';

.background {
  background-color: $color-white;
  border-top: 0.5px solid $color-light-2;
  padding-bottom: 65px;

  .titlebig {
    display: none;
    color: $color-main;
    font-family: $main-font-bold;
    font-size: 52px;
    text-transform: uppercase;
    line-height: 45px;
    margin-top: 30px;
    text-align: center;
    margin-bottom: 20px;
  }
}

.section {
  @include d-flex(center);

  p {
    font-size: 18px;
    font-family: $main-font-regular;
    font-weight: 400;
  }

  .flex_row {
    @include d-flex();

    align-items: center;
  }

  .choose {
    margin-right: 10px;
  }

  .price {
    font-weight: bold;
  }
}

.preview {
  width: 60%;
}

.details {
  margin: 0;
  margin-top: 100px;
  width: 85%;

  .info {
    @include d-flex(flex-start, column);

    & > .title {
      color: $color-main;
      font-family: $main-font-bold;
      font-size: 52px;
      text-transform: uppercase;
      line-height: 45px;
    }
    & > .subtitle {
      color: $color-dark;
      font-family: $main-font-regular;
      font-weight: 400;
      font-size: 18px;
      margin: 30px 0 15px 0;
    }
    & > .text {
      color: $color-dark;
      font-family: $main-font-regular;
      font-size: 16px;
      line-height: 30px;
      margin: 15px 0 30px 0;
      overflow-x: scroll;
      height: 95px;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  .select {
    padding: 30px 0;
    border-top: 2px solid $color-light-2;
    border-bottom: 2px solid $color-light-2;
    flex-wrap: wrap;
    @include d-flex();
    margin: 0 10px;

    .scrollPic {
      width: 15%;
      align-self: center;
      margin: 0 auto;
    }

    .scrollBoxSize {
      @include d-flex();

      width: 110px;
    }

    .scrollBoxColor {
      @include d-flex(center);

      width: 75px;
    }

    .sizes {
      overflow: auto;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    .colors {
      overflow: auto;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    .color {
      font-size: 0px;
      display: block;
      min-width: 15px;
      min-height: 15px;
      border-radius: 50%;
      margin: 2px;
      margin-bottom: 5px;
    }

    .size {
      color: $color-dark;
      font-size: 18px;
      padding: 0 5px;
      text-decoration: none;
      text-transform: uppercase;
      outline: none;
    }

    .quantity {
      @include d-flex() {
        align-items: baseline;
      }

      span {
        color: $color-main;
        font-size: 18px;
        padding: 0 10px;
      }
    }
  }

  .order {
    padding: 30px 0;
    @include d-flex();

    align-items: center;

    & > .buttons_row {
      @include d-flex();
      align-items: baseline;

      .iconButton {
        background: none;
        padding: 0 10px;
        color: $color-dark;
        font-size: 18px;

        &:hover:not(div) {
          color: $color-main;
        }
      }

      .btn_add {
        color: $color-white;
        background-color: $color-main;
        border-radius: 30px;
        padding: 20px 30px;
        font-size: 16px;

        &:hover {
          background-color: $color-dark;
        }
      }

      .btn_go {
        color: $color-white;
        background-color: $color-main;
        border-radius: 30px;
        padding: 16px 33px;
        font-size: 16px;

        &:hover {
          background-color: $color-dark;
        }
      }
    }
  }
}

@media screen and (max-width: $media-tablet) {
  .background {
    .titlebig {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
  }
  .section {
    @include d-flex(center, column);
    align-items: center;
  }

  .details {
    margin-top: 20px;
  }

  .preview {
    width: 100%;
  }

  .title {
    display: none;
  }
}

@media screen and (max-width: $media-mobile) {
  .section {
    @include d-flex(center, column);

    align-items: center;
  }

  .preview {
    width: 100%;
  }

  .details {
    .select {
      @include d-flex(unset, column);

      .flex_row {
        align-items: center;
      }
    }

    .order {
      @include d-flex(unset, column);

      align-items: center;

      .price {
        padding: 25px 0;
      }
    }
  }
}

@media screen and (max-width: $media-smallest) {
  .section {
    @include d-flex(center, column);
    align-items: center;
  }

  .preview {
    width: 100%;
  }

  .title {
    text-align: center;
    font-size: 40px !important;
  }

  .details {
    .select {
      @include d-flex(unset, column);

      .flex_row {
        align-items: center;
      }
    }

    .order {
      @include d-flex(unset, column);

      align-items: center;

      .price {
        padding: 25px 0;
      }
    }
  }
}
